@charset "utf-8";

.container {
  display: flex;
}

.side {
  padding: 5px;
  width: 250px;
}

.content {
  flex: 1;
  overflow: scroll;
  padding: 5px;
}

.table-striped {
  border: solid 1px #ddd;
}

.side button {
  margin: 5px;
}

.hide {
  display: none;
}

*[disabled="disabled"], *[disabled="disabled"] input {
  background-color: #ddd;
}

*[disabled="disabled"] button {
  background-color: #ddd;
  background-image: none;
  border-color: #ddd;
  color: #000;
}
