<!DOCTYPE html>
<html lang="ja">
 <head>
  <meta charset="utf-8">
  <title>体重管理</title>
  <link href="../css/photon.min.css" rel="stylesheet" type="text/css">
  <link href="../css/default.css" rel="stylesheet" type="text/css">
  <link href="../css/index.css" rel="stylesheet" type="text/css">
 </head>
 <body>
  <div id="mainWindow">
   <header class="toolbar toolbar-header">
    <div class="toolbar-actions">
     <div class="btn-group">
      <button id="mainButton" class="btn btn-default active" v-on:click="onClickMainButton">
       <span class="icon icon-doc-text"></span>
      </button>
      <button id="graphButton" class="btn btn-default" v-on:click="onClickGraphButton">
       <span class="icon icon-gauge"></span>
      </button>
     </div>
    </div>
   </header>
   <div id="mainContainer" class="container" v-show="isMainContainer">
    <div class="side">
     <input-height-component></input-height-component>
     <template id="inputHeightTemplate">
      <form id="insertForm" v-on:submit.prevent="onSubmit">
       <fieldset>
        <div class="form-group">
         <label>身長（cm）を入力してください</label><br>
         <input id="height" type="text" class="form-control" placeholder="身長（cm）"
                v-model="height" v-on:input="onInputHeight">
         <span class="errorMessage" v-show="validation.height">{{validation.height}}</span>
        </div>
       </fieldset>
      </form>
      </validator>
     </template>
     <insert-weight-component></insert-weight-component>
     <template id="insertWeightTemplate">
      <form v-on:submit.prevent="onSubmit">
       <fieldset id="insertFieldset">
        <legend>体重の登録</legend>
        <span v-show="insertError">指定の計測日は登録済みです</span>
        <div id="insertError" class="errorMessage"></div>
        <div class="form-group">
         <label>計測日を入力してください</label><br>
         <input id="insertDate" type="date" class="form-control"
                v-model="insertDate">
         <span class="errorMessage" v-show="validation.insertDate">{{validation.insertDate}}</span>
        </div>
        <div class="form-group">
         <label>体重（kg）を入力してください</label><br>
         <input id="insertWeight" type="text" class="form-control" placeholder="体重（kg）"
                v-model="insertWeight">
         <span class="errorMessage" v-show="validation.insertWeight">{{validation.insertWeight}}</span>
        </div>
        <button id="insertButton" type="button" class="btn btn-primary"
                v-on:click="onClickInsertButton">体重を登録する
        </button>
       </fieldset>
      </form>
     </template>
    </div>
    <div class="content">
     <weight-list-component></weight-list-component>
     <template id="weightListTemplate">
      <table class="table-striped">
       <thead>
        <tr>
         <th class="table-date">日付</th>
         <th class="table-weight">体重</th>
         <th class="table-diffWeight">増減</th>
         <th class="table-bmi">BMI</th>
         <th></th>
        </tr>
       </thead>
       <tbody id="weightTable">
        <tr v-for="(index, weight) in weightList">
         <td>{{ weight.date }}</td>
         <td>{{ weight.weight }}</td>
         <td>{{ weight.diffWeight }}</td>
         <td>{{ weight.bmi }}</td>
         <td>
          <button type="button" class="btn btn-positive" v-on:click="onClickUpdateButton(index)">変更・削除</button>
         </td>
        </tr>
       </tbody>
      </table>
     </template>
    </div>
   </div>
   <div id="graphContainer" class="container" v-show="!isMainContainer">
    <canvas id="weightGraph"></canvas>
   </div>
  </div>
  <script src="../js/vm/index.js"></script>
 </body>
</html>
