{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "no-console": 2,
    "no-alert": 2,
    "quotes": [
      2,
      "single"
    ],
    "consistent-return": 2,
    "default-case": 1,
    "eqeqeq": 1,
    "camelcase": [
      2,
      {
        "properties": "always"
      }
    ],
    "no-unused-vars": 1,
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ]
  }
}