{
  "extends": "eslint:recommended",
  "rules": {
    "no-console": 1,
    //コンソールを使用している
    "no-alert": 1,
    //アラートを使用している
    "quotes": [
      2,
      "single"
    ],
    //シングルクオートを使用していない
    "consistent-return": 1,
    //関数の戻り値に何も指定していない
    "default-case": 1,
    //switch文でdefaultが設定されていない
    "eqeqeq": 1,
    //「===, !==」ではなく「==,!=」を使用している
    "camelcase": [
      2,
      {
        "properties": "always"
      }
    ],
    //キャメルケースを使用していない
    "no-unused-vars": 1
    //使用していない変数がある
  }
}