@charset "utf-8";

* {
  font-family: -apple-system, ‘Helvetica Neue’, ‘Hiragino Kaku Gothic ProN’, ‘游ゴシック Medium’, ‘メイリオ’, meiryo, sans-serif;
}

.errorMessage {
  color: #f00;
  padding: 0.5em;
}

.window-content {
  padding: 0.5em;
}

.number {
  text-align: right;
}

fieldset {
  margin: 0 0 5px 0;
}

#height {
  width: 8em;
}

#insertDate {
  width: 12em;
}

#insertWeight, #updateWeight {
  width: 8em;
}
