@charset "utf-8";

.container {
  display: flex;
}

.side {
  padding: 5px;
  width: 250px;
}

.content {
  flex: 1;
  overflow: scroll;
  padding: 5px;
}

.table-striped {
  border: solid 1px #ddd;
}

.side button {
  margin: 5px;
}

.hide {
  display: none;
}

#weightGraph {
  width: 500px;
  height: 500px;
}

.table-date {
  white-space: nowrap;
  width: 10em;
}

.table-weight {
  white-space: nowrap;
  width: 7em;
}

.table-diffWeight {
  white-space: nowrap;
  width: 7em;
}

.table-bmi {
  white-space: nowrap;
  width: 9em;
}
